<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Hưng Thịnh ID Complete Registration</title>
</head>

<body>
<div class="wrapper" style="min-width:800px; width: 800px; margin: 0px auto; font-family: Calibri, Arial, sans-serif; font-size: 1.2em; padding:2px 0px">
    <div class="content">
        <p>Hello [[${first_name}]],</p>
        <p>Welcome to the Income Lab! There’s one more step before your account is activated. Please click the link below to verify your email address and access your account.</p>
        <p><a href="[[${link}]]">ACTIVATE ACCOUNT</a></p>
        <p>If you have any questions or believe you have received this message in error, please reply to this message or email us at <a style="color: red;" href="mailto:[[${email}]]">[[${email}]]</a>.</p>
        <p>Thank you,</p>
        <p>Hưng Thịnh ID Support Team</p>
    </div>

</div>
</body>

</html>
