<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>HungThinhID Email Verification</title>
</head>

<body>
<div class="wrapper" style="min-width:800px; width: 800px; margin: 0px auto; font-family: Calibri, Arial, sans-serif; font-size: 1.2em; padding:2px 0px">
    <div class="content">
        <p>Hello [[${first_name}]],</p>
        <p>You recently requested to verify your email. Use the button below to confirm.</p>
        <p><a th:href="${link}">VERIFY THIS EMAIL</a></p>
        <p>If you got problem, please fell free to contact support <a style="color: red;" href="mailto:contact@hungthinhcorp.com.vn">contact@hungthinhcorp.com.vn</a>.</p>
        <p>Thanks,</p>
        <p>HungThinh ID Support Team</p>
        <p><img src="https://hungthinhcorp.com.vn/2020/templates/default/images/web/logo_hungthinh1.png" width="280px"/></p>
    </div>

</div>
</body>

</html>
